---
Language:        Cpp
# BasedOnStyle:  LLVM

AlignAfterOpenBracket: Align
AlignArrayOfStructures: None
AlignConsecutiveMacros: None
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Right
AlignOperands:   Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine
AttributeMacros:
  - __capability
BinPackArguments: true
BinPackParameters: true
# Section 3.1f Spaces
BitFieldColonSpacing: Both
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: true
BreakBeforeBraces: Attach
BreakBeforeInheritanceComma: false
BreakInheritanceList: BeforeColon
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false

BreakConstructorInitializers: BeforeColon
# Section 3.3a Blank Lines
BreakAfterJavaFieldAnnotations: true
# Section 1.2a Line Widths
BreakStringLiterals: true
# Section 1.2a Line Widths
ColumnLimit:     80
# Section 1.8b Keywords to Frequent
QualifierAlignment: Left
# Section 3.3a Blank Lines
CompactNamespaces: false
# Section 3.4a Indentation
ConstructorInitializerIndentWidth: 4
# Section 3.4a Indentation
ContinuationIndentWidth: 4
# Analyze for the most used line endings. 
DeriveLineEnding: true
# Optional Rule to analyze and format * and & 
DerivePointerAlignment: false
# Used to disable formatting completely in this file
DisableFormat:   false
# Section 3.3 Blank Lines
EmptyLineAfterAccessModifier: Never
# Section 3.3 Blank Lines
EmptyLineBeforeAccessModifier: LogicalBlock
BasedOnStyle:    ''
# No Rule is REGEX for sorting the #include block
IncludeBlocks:   Preserve
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''
# Section 8.3a Switch Statements
IndentCaseLabels: true
# Section 8.3a Switch Statements
IndentCaseBlocks: true
# Section 3.4a Indentation
IndentPPDirectives: None
# Section 3.4 Indentation
IndentWidth:     4
# Section 8.1 Variable Declarations
JavaScriptWrapImports: true
# Section 3.3 Blank Lines
KeepEmptyLinesAtTheStartOfBlocks: true
# Section 3.3 Blank Lines
MaxEmptyLinesToKeep: 1
# Section 3.4a Indentation
NamespaceIndentation: All
# Penalites that prioritized rules higher value higher priority.
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakOpenParenthesis: 0
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PenaltyIndentedWhitespace: 0
# Section 3.1e Spaces
PointerAlignment: Middle
# Section 3.2d Defaults to Indent Width
PPIndentWidth:   -1
# Section 3.1e Spaces
ReferenceAlignment: Pointer
# Section 1.2 Line Widths
ReflowComments:  true
# Section 1.3a Braces
RemoveBracesLLVM: false
# Section 3.3 Blank Lines
SeparateDefinitionBlocks: Always

SortIncludes: Never
# Section 1.6 Casts
SpaceAfterCStyleCast: true
# Section 3.1d Spaces
SpaceAfterLogicalNot: false
# Section 3.1b Spaces
SpaceBeforeAssignmentOperators: true
# Section 3.1f Spaces
SpaceBeforeCaseColon: false
# Section 3.1f Spaces
SpaceBeforeInheritanceColon: true
# Section 3.1 Spaces
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  # Section 3.1a Spaces
  AfterControlStatements: true
  # Section 3.1a Spaces
  AfterFunctionDefinitionName: true
  # Section 3.1j Spaces
  AfterFunctionDeclarationName: true 
  # Section 3.1a Spaces
  BeforeNonEmptyParentheses: false
# Section 3.1e Defaults to Pointer Allignement
SpaceAroundPointerQualifiers: Default
# Section 3.1i Spaces
SpaceInEmptyBlock: false
# Section 3.1i Spaces
SpaceInEmptyParentheses: false
# Section 3.1c Spaces
SpacesBeforeTrailingComments: 1
# Section 3.1c Spaces
SpacesInAngles:  Never
# Section 3.1i Spaces
SpacesInConditionalStatement: false
# Section 3.1i Spaces
SpacesInContainerLiterals: true
# Section 3.1i Spaces
SpacesInCStyleCastParentheses: false
# Section 3.1c Spaces
SpacesInLineCommentPrefix:
  Minimum:         1
  Maximum:         -1
# Section 3.1i Spaces
SpacesInParentheses: false
# Section 3.1i Spaces
SpacesInSquareBrackets: false
# Section 3.1h. Spaces
SpaceBeforeSquareBrackets: false
# Section 3.5a Tabs
UseTab:          Never
WhitespaceSensitiveMacros:
  - STRINGIZE
  - PP_STRINGIZE
  - BOOST_PP_STRINGIZE
  - NS_SWIFT_NAME
  - CF_SWIFT_NAME
...

